﻿@model TT.Domain.ViewModels.FairyChallengeBag
@{
    ViewBag.Title = "Bartender";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12" style="padding: 20px">
            <img class="img-responsive center-block" src="https://images.transformaniatime.com/portraits/Rusty_Luxianne.png">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="padding: 20px; text-align: justify;">
                @Html.Raw(ViewBag.Speech)

            <br>
            <div style="line-height: 1.7;">
                <br> <a href="@Url.Action(MVC.NPC.TalkToBartender("lindella"))">Where is Lindella?</a>
                <br> <a href="@Url.Action(MVC.NPC.TalkToBartender("wuffie"))">Where is Wuffie?</a>
                <br> <a href="@Url.Action(MVC.NPC.TalkToBartender("jewdewfae"))">Where is Jewdewfae?</a>
                <br> <a href="@Url.Action(MVC.NPC.TalkToBartender("lorekeeper"))">Where is Skaldrlyr the Forbidden?</a>
                <br> <a href="@Url.Action(MVC.NPC.TalkToBartender("soulbinder"))">Where is Karin the Soulbinder?</a>
                <br>
                <br> <a href="@Url.Action(MVC.NPC.TalkToBartender("psychos"))">How dangerous is it out on the streets?</a>
                <br> <a href="@Url.Action(MVC.NPC.TalkToBartender("miniboss"))">Are there any powerful foes I can challenge?</a>
                <br> <a href="@Url.Action(MVC.NPC.TalkToBartender("boss"))">Any strange happenings around town?</a>
                <br> <a href="@Url.Action(MVC.NPC.TalkToBartender("bounties"))">Have you heard of any wanted criminals in town?</a>
                <br>
                <br> <a href="@Url.Action(MVC.NPC.TalkToBartender("challenge"))">Do you know anything about this challenge I have been set?</a>
                <br> <a href="@Url.Action(MVC.NPC.TalkToBartender("quests"))">Know of any quests I can go on around town?</a>
            </div>

        </div>
    </div>
</div>


